.text-color {
    color: var(--color-primary-light);

}

.text-bold {
    font-weight: 700;
}

.text-capitalize {
    text-transform: capitalize;
}

.modal-text  {
    color: var(--color-primary-light);
}