:root {
    --color-primary-white: #FFFFFF;
    --color-primary-light: #2B7FFF;
    --color-primary-dark: #011C44;
    --color-secondary-dark: #4A4A4A;
    --color-secondary-light: #747272;
    --color-secondary-blue: #011F4A;
    --color-secondary-yellow: #FFD02B;

}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
