


button {
    color: var(--color-primary-white);
    background: var(--color-primary-light);
    border-radius: 32px;
    cursor: pointer;
    border: 2px solid var(--color-primary-light);
    padding: 16px 32px;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    margin-left: 64px;
}

.contact-button:hover {
    color: var(--color-primary-dark);
    background: var(--color-primary-white);
    border: 2px solid var(--color-primary-light);
}
