.advantages {
    padding: 20px;

            @media screen and (min-width: $bp-desktop) {
                padding: 40px;
            }

    &__title {
            font-family: 'Roboto';
            font-weight: 500;
            font-size: 32px;
            text-align: center;
            margin: 146px auto 24px auto;


            @media screen and (min-width: $bp-desktop) {
                font-family: 'Play';
                font-weight: 700;
                font-size: 64px;
                margin-bottom: 48px;
            }

        }
    
        &__list {
            display: flex;
            // flex-direction: column;
            gap: 16px;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;

            @media screen and (min-width: $bp-desktop) {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: space-evenly;
                font-size: 18px;
                line-height: 133%;
            }
           
        }
    
        &__item {
            padding: 24px 24px;
            height: 181px;
            width: 316px;
            text-align: center;
            border-radius: 32px;
            box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
            background-color: var(--color-primary-white);
            transition: transform 0.2s;
        
        @media screen and (min-width: $bp-desktop){
            padding: 24px 32px;
        }
            
        }
    
        &__item:hover {
            transform: scale(1.05);
        }
    
        &__text {
            color: black;
            font-family: 'Roboto';
        }
    
        &__icon {
          margin-left: auto;
          margin-right: auto;
          padding-bottom: 8px;
        }
}

